---
Language: Cpp
BasedOnStyle: Chromium
ColumnLimit: 120
IndentWidth: 2
TabWidth: 2
UseTab: Never
SpaceBeforeCpp11BracedList: true
# Cpp11BracedListStyle: false
IndentCaseLabels: false
# AllowShortCaseLabelsOnASingleLine: true
IndentAccessModifiers: false
AccessModifierOffset: -4
AlignAfterOpenBracket: BlockIndent
AllowAllArgumentsOnNextLine: false
AllowAllParametersOfDeclarationOnNextLine: false
PenaltyReturnTypeOnItsOwnLine: 1000
AlignOperands: AlignAfterOperator
AllowShortBlocksOnASingleLine: Never
AllowShortEnumsOnASingleLine: false
AllowShortCaseLabelsOnASingleLine: false
AllowShortFunctionsOnASingleLine: None
AllowShortLambdasOnASingleLine: None
AllowShortIfStatementsOnASingleLine: Never
BreakBeforeBinaryOperators: All
BreakBeforeBraces: Custom
BinPackArguments: false
BinPackParameters: false
BraceWrapping:
  AfterControlStatement: MultiLine
BreakBeforeTernaryOperators: true
# BreakConstructorInitializers: AfterColon
# BreakInheritanceList: AfterColon
InsertBraces: true
RemoveParentheses: MultipleParentheses
MaxEmptyLinesToKeep: 1
PackConstructorInitializers: CurrentLine
RemoveSemicolon: true
SeparateDefinitionBlocks: Always
...
